.component-list {
	/*Posicionamiento*/
	/*Box Model*/
	display: grid;
	grid-template-columns: 80% 20%;

	/*Texto*/
	/*Visuales*/
	cursor: pointer;
	color: black;
	background-color: #eeeeee;
	border-radius: 7px;
	/*otros*/
	transition: ease-in-out all 0.1s;
}
/* .component-list:hover {
} */
.component-list a {
	width: 100%;
	border-radius: 7px;
}

.component-list a:hover {
	background-color: inherit;
}

.component-list-content {
	width: 100%;
	display: flex;

	text-align: left;
	color: black;
}

.component-list-header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.component-list h4 {
	margin: inherit;
}

h4 > span {
	margin-right: 10px;
}

.text-preview,
.date {
	margin: inherit;
	padding-left: 5px;

	font-size: 0.8rem;
	text-align: left;

	color: rgb(131, 124, 124);
}

.component-list-options {
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	justify-items: end;
	align-items: center;
	justify-content: end;
	gap: 5%;  
	padding-right: .5rem;
}
