.page-file {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	justify-items: center;
	padding: .5rem;
	gap: .5rem;
}
.page-file-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.page-file-music {
	width: 100%;
	max-width: 630px;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;

	border-radius: 10px;
	background-color: #928e88;
}

.page-file-music-header {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}

.page-file-music-header h1 {
	padding: 1rem;
}

.container-title {
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
}
.container-title h1 {
	max-width: 600px;
}

.page-file-music-info {
	width: 100%;
	max-width: 600px;
	display: grid;
	gap: 5px;
}

.page-file-music-date,
.page-file-music-autor,
.page-file-music-album {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	padding-left: 1rem;
	gap: 10px;
}

.page-file-music-main {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
}

.container-structure {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	justify-items: center;
	gap: 5px;

	padding: 0.5rem;
}
.container-structure-info {
	width: 100%;
	max-width: 550px;
	display: flex;
	justify-content: space-between;

	font-weight: bold;
}
.container-structure textarea {
	max-width: 550px;
	line-height: 1.5rem;
	resize: none;
}
#button-lock {
	width: min-content;
	height: min-content;
	padding: 1px;

	color: black;
}
.textarea-structure {
	width: 100%;
	height: 100%;
	padding: 0.5rem;

	outline: none;
	border: none;
	border-radius: 5px;
}

.input-autor,
.input-album,
.input-title {
	width: auto;
	min-width: auto;

	padding: 0;
	text-align: left;
	color: #eee;

	background-color: transparent;
}

.input-title {
	width: 100%;

	font-size: 2rem;
	text-align: center;

	border: none;
	resize: none;
}

.input-autor:focus,
.input-album:focus,
.input-title:focus {
	outline: none;
	padding: 0;
}

.input-title:focus {
	text-align: center;
}

.input-autor:hover,
.input-album:hover,
.input-title:hover {
	box-shadow: none;
}

.label-info {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: start;
	align-items: center;
}

.label-info span {
	display: block;
}
