.dashboard-main {
	min-height: 100%;
	padding: 2rem;
	display: grid;
	grid-template-areas:
		"card-user"
		"content";
	gap: 1rem;
	justify-items: center;
}

.dashboard-nav {
	justify-content: space-between;
}

.dashboard-nav-links-separator {
	width: 2px;
	height: 2rem;
	display: inline-block;

	background-color: #eeee;
}

.dashboard-nav-links {
	display: flex;
	justify-content: space-evenly;
	gap: 0.5rem;
}

.dashboard-nav button {
	padding: 0.5rem;
}

@media (min-width: 600px) {
	.dashboard-main {
		grid-template-areas: "card-user content";
		grid-template-columns: min-content 1fr;
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 900px) {
	.dashboard-main {
		grid-template-columns: min-content 0.7fr;
	}
}
