.menu-bar {
	width: 100%;
	height: 100%;
	padding: 0.4rem;
	display: grid;
	grid-template-columns: 70% 30%;
	justify-items: center;
	align-items: center;
}

.menu-bar-search-icon {
	color: rgb(83, 80, 80);
}

.menu-bar-options {
	/*Posicionamiento*/
	position: relative;
	/*Box Model*/
	width: min-content;
	display: grid;
	grid-template-columns: 45% min-content;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	/*Texto*/
	/*Visuales*/
	/*otros*/
}

.menu-bar-options button {
	padding: 0.5rem;
	transition: all ease-in-out 0.3s;
}
.menu-bar-options button:hover {
	transform: scale(1.05);
}

.nav-menu-files {
	padding: 0;
}

#search {
	width: 100%;
	display: grid;
	grid-template-columns: auto min-content;
	gap: 1rem;
}
#search-button {
	padding: 0.3rem;
}

.menu-bar-options-files {
	position: absolute;
	left: -.7rem;
	top: 2.5rem;
	z-index: 999;

	display: none;
	padding: 0.5rem;

	background-color: #374045;
}

.search-input::placeholder {
	background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"%3E%3Cpath d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: 0.5rem center;
}

.btn-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 37px;
	margin-bottom: 0;

	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
	background-color: white;

	color: var(--primary-color);
	font-weight: 500;
	cursor: pointer;
}

#menu {
	display: none;
}

#menu:checked + .menu-bar-options-files {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/*
  AGREGAR MEDIA QUERIES OJOOOOOOOOOOOOOOOOO
*/
@media (min-width: 570px) {
	.btn-menu {
		display: none;
	}

	.menu-bar-options-files,
	#menu:checked + .menu-bar-options-files {
		position: relative;
		top: 0;
		left: 0;

		padding: 0;
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	.menu-bar-options-files {
		justify-content: end;
	}

	.menu-bar-options {
		width: 100%;
		padding-right: 1rem;
		justify-content: end;
	}
}
