.metronomo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 630px;
  padding: 1rem;
  margin: auto;
  background-color: #1b262c;
}

.metronomo-options {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.metronomo-container-buttons-bpm {
  display: grid;
  grid-template-areas:
    "bpm    bpm   bpm"
    "menos1 range mas1";
  gap: 5px;
  justify-items: center;
}

.bpm {
  margin: 0;
  grid-area: bpm;
  color: #ed6663;
  user-select: none;
  font-weight: bold;
}

.btn-mas1 {
  grid-area: mas1;
}

.btn-menos1 {
  grid-area: menos1;
}

.range {
  cursor: pointer;
}

.metronome-button {
  width: 30px;
  height: 30px;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0f4c81;
  cursor: pointer;
  transition: border-color 0.25s;

  user-select: none;
  vertical-align: middle;
  text-align: center;
  color: white;
}
