:root {
	--primary-color: hsl(214, 84%, 56%);
	--text-color: #eeee;
	--pleaceholder: #aaa3a3;
	--bg-color: #191919;
	--bg--nav: #374045;
}

* {
	box-sizing: border-box;
}

#root {
	display: flex;
	width: 100%;
	min-height: inherit;

	background-color: var(--bg-color);
}

body {
	margin: 0;
	min-height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	color: var(--text-color);
}

body *::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: white;
}

input,
.button {
	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
	background-color: white;
}
.button {
	color: var(--primary-color);
	font-weight: 500;
	cursor: pointer;
	padding: 0.5em;
}
input:hover,
.button:hover {
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}
a {
	display: inline-block;
	padding: 5px;

	color: var(--text-color);
}
a:hover {
	background-color: rgba(25, 25, 25, 0.3);
}

#error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

header {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin: 0;
	width: 100%;
	text-align: center;
}

nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	background-color: var(--bg--nav);
}

.container-form {
	min-width: 270px;
	max-width: 500px;
	margin: 20px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	background-color: #e9e8e8;
}
form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	color: black;
}

input {
	min-width: 100%;
	padding: 0.5rem;
	padding-left: 2rem;

	text-align: center;

	transition: all ease-in-out 0.3s;
}
.container-email input::placeholder {
	background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"%3E%3Cpath d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/%3E%3Cpath d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/%3E%3C/svg%3E');
}
.container-password input::placeholder {
	background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"%3E%3Cpath d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/%3E%3C/svg%3E');
}
.container-user input::placeholder {
	background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"%3E%3Cpath d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/%3E%3C/svg%3E');
}
.container-folder input::placeholder {
	background-image: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"%3E%3Cpath d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/%3E%3C/svg%3E');
}
input:focus {
	padding-left: 0.5rem;
	text-align: left;

	outline: 2px solid var(--primary-color);
}
/* input:focus + .span-icon-form {
	display: none;
} */
input::placeholder {
	background-repeat: no-repeat;
	background-position: left center;
}

input:focus::placeholder {
	background-image: none;
}

.container-input-label {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 5px;
	height: fit-content;
}

.container-input-icon {
	position: relative;

	width: 100%;
}
.span-icon-form {
	position: absolute;
	top: 10px;
	left: 10px;
}

.page {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100px 50px 1fr;
	align-items: center;
	justify-content: center;
}

.auth-page {
	width: 100%;
	min-height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-app {
	width: 100%;
	min-height: 100%;
}
