:root {
	--primary-color: hsl(214, 84%, 56%);
	--text-color: #eeee;
	--bg-color: #191919;
	--bg--nav: #374045;
}

* {
	box-sizing: border-box;
}

#root {
	display: flex;
	width: 100%;
	min-height: inherit;

	background-color: var(--bg-color);
}

body {
	margin: 0;
	min-height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	color: var(--text-color);
}

body *::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: white;
}

input,
button {
	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
	background-color: white;
}
button {
	color: var(--primary-color);
	font-weight: 500;
	cursor: pointer;
}
input:hover,
button:hover {
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}
a {
	display: inline-block;
	padding: 5px;

	color: var(--text-color);
}
a:hover {
	background-color: rgba(25, 25, 25, 0.3);
}

#error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

header {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin: 0;
	width: 100%;
	text-align: center;
}

nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	background-color: var(--bg--nav);
}

.container-form {
	min-width: 250px;
	max-width: 450px;
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	background-color: #e9e8e8;
}
form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	color: black;
}

input {
	width: 100%;
	padding: 0.5rem;
	padding-left: 2rem;
	transition: all ease-in-out 0.3s;
}
input:focus {
	padding-left: 0.5rem;
	outline: 2px solid var(--primary-color);
}
input:focus + .span-icon-form {
	display: none;
}
.container-input-label {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 5px;
	height: fit-content;
}

.container-input-icon {
	position: relative;

	width: 100%;
}
.span-icon-form {
	position: absolute;
	top: 10px;
	left: 10px;
}

.page {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100px 50px 1fr;
	align-items: center;
	justify-content: center;
}

.auth-page {
	width: 100%;
	min-height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-app {
	width: 100%;
	min-height: 100%;
}
